body {
  background: green;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  background: goldenrod;
  width: 150px;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin: 2px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
